<div class="modal">
    <div>这个组件的名字是:
        <%= name %>
    </div>
    <% for( var i = 0; i < arr.length; i++ ){ %>
        <%= arr[i] %>
    <% } %>

</div>
<img src="${ require('../img/bg.jpg') }" alt="">
<img src="../img/bg.jpg" alt="">